ctranslate2==3.16.0
evaluate==0.4.0
faster_whisper==0.6.0
ffmpeg==1.4
ffmpeg_python==0.2.0
keras==2.12.0
nltk==3.8.1
numpy==1.23.5
opensmile==2.4.2
pandas==1.5.3
plotly==5.14.1
pyAudioAnalysis==0.3.14
pydub==0.25.1
pyspark==3.2.1
scikit_learn==1.2.2
sentence_transformers==2.2.2
soundfile==0.12.1
tensorflow==2.12.0
tensorflow_hub==0.13.0
torch==2.0.1
torchaudio==2.0.2
tqdm==4.65.0
transformers==4.29.2
